.city-page {
    height: 450px;
    
}

.city-info {
    text-align: left;
    padding: 40px;
    width: 40vw;
}

.city-info h2 {
    font-size: 80px;
}

.city-info h5 {
    font-size: 40px;
}

.city-img {
    max-width: 100%;
}

.city-img-container {
    padding: 40px;
    max-height: 35vh;
    text-align: right;
    align-content: right;
    width: 40vw;
}

.city-posts {
    position: relative;
}