.user-details {
    border: 1px solid black;
    border-radius: 5px;
    width: 35%;
    max-width: 400px;
    height: 700px;
    margin: 20px;
    text-align: center;
  }
  .avatar-container {
   width: 300px;
   height: 300px;
   overflow: hidden;
   text-align: center;
   display: inline-block;
   margin: 20px 0px 40px 0px;
  }
  
  #avatar {
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;
    object-fit: cover;
    align-content: center;
  }