.row {
  margin-right: -15px;
  margin-left: -15px;
}

.comment-wrapper {
  margin-top:20px;
}

.comment-wrapper .panel-body {
  max-height:650px;
  overflow:auto;
}

.panel-info {
  border: 1px solid #bce8f1;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #bce8f1;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-info>.panel-heading {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.comment-wrapper .panel-body {
  max-height: 650px;
  overflow: auto;
}

.panel-body {
  padding: 15px;
}

.pull-right {
  float: right!important;
}

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}