.user-details {
    border: 1px solid black;
    border-radius: 5px;
    width: 35%;
    max-width: 400px;
    height: 700px;
    margin: 20px;
  }
  .avatar-container {
   width: 300px;
   height: 300px;
   overflow: hidden;
   text-align: center;
   display: inline-block;
  }
  
  #avatar {
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;
    object-fit: cover;
    align-content: center;
    border-radius: 10px;
  }

form input {
  text-align: center;
  margin: auto; 
}

#add-file {
  margin: 0px 0px 20px 90px;
}