.bg-dark {
  background-color: cornflowerblue !important;
  -webkit-box-shadow: 0px -2px 28px -5px rgba(0,0,0,0.95); 
  box-shadow: 0px -2px 28px -5px rgba(0,0,0,0.95);
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, .6);
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: white;
  opacity: 1;
  cursor: pointer;
}

.btn-outline-light {
  border: 1px solid rgba(248, 249, 250, .9);
}

.btn-outline-light:hover {
  color: #223b6b !important;
  background-color: white;
  border-color: white;
  opacity: 1;
}

.btn {
  margin-right: 10px;
}