.media img {
  width:64px;
  height:64px;
  border:2px solid #e5e7e8;
  margin-right: 15px;
  border-radius: 50%;
}

.media {
  border-bottom:1px dashed #efefef;
  margin-bottom:25px;
}

ul {
  padding: 5px;
}

.author-name {
  color: #3c763d;
  font-weight: 700;
  text-align: left;
}

.row {
  text-align: left;
}