.hero {
  background: red;
  width: 100%;
  position: absolute;
  margin: 0;

}

.hero img {
  height: 60vh;
  width: 100%;
}

.post-info {
  width: 60vw;
  padding-top: 30px;
  margin-left: 30px;
  text-align: left;
  margin: auto;
}

h2 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

.edit-buttons-container {
  display: flex;
  flex-direction: row-reverse;

}

.edit-buttons-container div{
  display: inline;
}