.citiesList {
    width: 100%;
}

.citiesList h3 {
    color: whitesmoke;
}

.list-item {
    margin: 10px 0px;
    border-radius: 50px;
}

.citiesList-container {
    padding: 10px;
    margin: 20px 10px;
    background-color: #363636;
    display: inline-block;
}

.flex-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.city-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}


.city-photo-container {
    width: 80px;
    height: 60px;
    overflow: hidden;
    text-align: center;
    display: inline-block;
}
   
.city-photo-container img {
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;
    object-fit: cover;
    align-content: center;
    /* margin-top: 10px; */
}

.city-container p {
    margin: 12px 20px;
    font-size: 25px;
}